/* This CSS style page is for common styles accros different pages */

/* #homePageContainer {
    width: 100%;
    height: 800px;
    background: url("img/navbar-background.jpg") no-repeat center center fixed;
    background-size: cover;
  } */
