/* This CSS style page is for common styles accros different pages */


/* Navbar Styles */
.nav-item {
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nLink-container {
  width: 90px;
}

.link {
  color: white;
  transition: 0.5s;
}

.link:hover {
  letter-spacing: 2px;
  font-weight: bold;
}

.logo-link {
  transition: 0.5s;
}

.logo-link:hover {
  letter-spacing: 1.5px;
  font-weight: bold;
}

/* Non-homepage Navbar Styles */
.navbarContainer {
  width: 100%;
}

/* Page Banner Styles */
/* 
.page-banner {
    background: url('img/sustainable.jpg') no-repeat fixed;
    background-size: cover;
    height: 500px;
    background-position: 600% 480%;
  }
*/
