/* Styles for the Store Page */

/* Store Banner Styles */
.page-banner {
    background: url('/img/sustainable.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
}

/* Store Banner Styles */
.card-img-top:hover {
    position: relative;
    top: -10px;
    cursor: pointer;
}

.card-title:hover {
    cursor: pointer;
}